img {
  width: 30%;
  margin: 1.66%;
  float: left;
}

p {
  font-family: 'Ravi Prakash';
  font-size: 32px;
  font-weight: bold;
  margin-left: 1.66%;
  text-transform: uppercase;
  border-bottom: 2px #F1f1f1 solid;
  width: 96.66%;
  padding-bottom: 5px;
}
